<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id=''class='hidden-sm hidden-xs'style='height:100vh;'>
			<div id=''class='col-md-12'style=''>
				<div id=''class='col-md-8 col-md-offset-2'style=''>
					<div id=''class='col-md-12'style='text-align:center;'>
						<h1>Shared Hosting</h1>
					
					</div>

					<div id=''class='col-md-12 col-md-offset-1'style=''>
						<div ng-repeat='serv in server'id='col-md-12'style=''style='height:auto;padding:1%;bmargin-top:2%;'>
                <div id=''class='col-md-2 'style='text-align:center;font-size:1.2em;'>
                
                
                
                <div id=''class='col-md-12'style='border-bottom:1px solid black;text-align:center;'>
                  <h3>{{serv.name}}</h3>
                  
                </div>
                <div id=''class='col-md-12'style='border-bottom:1px solid black;text-align:center;'>
                {{serv.price | currency}}
                
                </div>
                <div id=''class='col-md-12'style='border-bottom:1px solid black;'>
                  {{serv.storage}}GB storage
                
                </div>
                <div id=''class='col-md-12'style='border-bottom:1px solid black;'>
                  {{serv.bandwidth}}Gb bandwidth
                
                </div>
                <div id=''class='col-md-12'style='border-bottom:1px solid black;'>
                  {{serv.addDom}} Addon domains
                
                </div>
                <div id=''class='col-md-12'style='padding-top:10%;'>
                  <a ng-href='{{serv.web}}'><button type="button" class="btn btn-info" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    Order Now <span class='   glyphicon glyphicon-chevron-right'></span><span class='   glyphicon glyphicon-chevron-right'></span>
                  </button></a>
                
                </div>

              </div>
				
				</div>
					
					</div>
			


				<div id=''class='col-md-12'style=''>
					<div id=''class='col-md-12'style='text-align:center;'>
						<h1>All Plans Include</h1>
					
					</div>
					<div id=''class='col-md-12'style=''>
						<div id=''class='col-md-4'style='height:20vh;'>
							
						<h3 style='border-bottom:1px solid black;text-align:right;'>Hourly R1soft Backups</h3>

						We make hourly backups of all of our shared hosting servers and all backups are retained for at least a week. You are able to restore any of your files from backup without having to open a support ticket. More Information

						
						</div>
						<div id=''class='col-md-4'style='height:20vh;'>
									<h3 style='border-bottom:1px solid black;text-align:right;'>Automated Script Installations</h3>

						Softaculous allows you to easily install and upgrade over 300 scripts and tools to make getting your site up and running quick and easy
						
						</div>
						<div id=''class='col-md-4'style='height:20vh;'>
						
									<h3 style='border-bottom:1px solid black;text-align:right;'>CloudFlare Integration</h3>

					Our Optimized Partnership with CloudFlare allows us to offer both their basic CDN services as well as their Railgun tool (normally $200/month) to all of our customers for no additional charge.

						
						</div>
						<div id=''class='col-md-4'style='height:20vh;'>
						
							<h3 style='border-bottom:1px solid black;text-align:right;'>Guaranteed Server Resources</h3>

							We guarantee a minimum level of server resources on all of our hosting plans. If at any time you are unable to use those resources you will be compensated the same as if your site was down.

						
						</div>
						<div id=''class='col-md-4'style='height:20vh;'>
						
							<h3 style='border-bottom:1px solid black;text-align:right;'>Migration Assistance</h3>

						We will handle the migration of your files and databases to our hosting with minimal downtime.

						
						</div>
						<div id=''class='col-md-4'style='height:20vh;'>
						
							<h3 style='border-bottom:1px solid black;text-align:right;'>Happiness Guarantee</h3>

						We are confident you will be happy with our services, however, if for any reason you decide to leave us, we will even assist with the migration of your data to another shared hosting provider.

						
						</div>
					
					</div>
					<div id=''class='col-md-12'style=''>
							<detail-Host deals='server'></detail-Host>
					
					</div>
				
				</div>

			</div>
		
	</div>

	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>